<!-- Title area -->
<div class="titleArea">
    <div class="wrapper">
        <div class="pageTitle">
            <h5>CATEGORIES DE SPECIFICATIONS</h5>
            <span>Gestion des actions liées aux catégorie de spécifications.</span>
        </div>

        <div class="clear"></div>
    </div>
</div>

<div class="line"></div>

<%= render "specification_types/shared/sub_menu" %>

<div class="line"></div>

<!-- Main content wrapper -->
<div class="wrapper">
  <!-- Widgets -->
  <%= specification_type_messages! %>
  <%= form_for @specification_type, method: :post, url: create_specification_type_path, html: {class: 'form'} do |f| %>
    <fieldset>
      <!-- Create devoted widget -->
      <div class="widget">
        <div class="title"><img src="<%= asset_path 'icons/dark/users.png' %>" alt="" class="titleIcon" /><h6>Créer une catégorie de spécification et l'ajouter au système</h6></div>

          <div class="formRow">
            <label><%= f.label :name %></label>
            <div class="formRight">
              <%= f.text_field :name, placeholder: "Veuillez entrer le nom de la catégorie de spécification", class: 'form-control' %>
            </div>
            <div class="clear"></div>
          </div>
          <div class="formRow">
            <%= f.submit 'Valider', class: 'basic' %>
          </div>
      </div>
      <!-- End Create devoted widget -->
    </fieldset>
  <% end %>


</div>
<!-- End Main content wrapper -->
