<!-- Title area -->
<div class="titleArea">
    <div class="wrapper">
        <div class="pageTitle">
            <h5>MODIFIER UN TYPE DE LIT SUPPLEMENTAIRE</h5>
            <span>Modification des informations liées à un type de lit supplémentaire.</span>
        </div>

        <div class="clear"></div>
    </div>
</div>

<div class="line"></div>

<%= render "additional_bed_types/shared/sub_menu" %>

<div class="line"></div>

<!-- Main content wrapper -->
<div class="wrapper">
  <!-- Widgets -->
  <%= additional_bed_type_messages! %>
  <%= form_for @additional_bed_type, method: :post, url: update_additional_bed_type_path, html: {class: 'form'} do |f| %>
    <fieldset>
      <!-- Create devoted widget -->
      <div class="widget">
        <div class="title"><img src="<%= asset_path 'icons/dark/users.png' %>" alt="" class="titleIcon" /><h6>Mettre à jour le type de lit supplémentaire nommé: <%= @additional_bed_type.name.empty? ? @additional_bed_type_name : @additional_bed_type.name %></h6></div>

          <div class="formRow">
            <label><%= f.label :name %></label>
            <div class="formRight">
              <%= f.text_field :name, placeholder: "Veuillez entrer le nom du type de lit supplémentaire", class: 'form-control' %>
            </div>
            <div class="clear"></div>
          </div>
          <div class="formRow">
            <%= f.submit 'Valider', class: 'basic' %>
          </div>
      </div>
      <!-- End Create devoted widget -->
    </fieldset>
  <% end %>


</div>
<!-- End Main content wrapper -->
