<!-- Title area -->
<div class="titleArea">
    <div class="wrapper">
        <div class="pageTitle">
            <h5>LISTE DES TYPES DE LITS SUPPLEMENTAIRES</h5>
            <span>Prise en charge des actions liées aux types de lits supplémentaires.</span>
        </div>

        <div class="clear"></div>
    </div>
</div>

<div class="line"></div>

<%= render "additional_bed_types/shared/sub_menu" %>

<div class="line"></div>

<!-- Main content wrapper -->
<div class="wrapper">
  <%= additional_bed_type_messages! %>
<!-- Widgets -->
  <div class="widget">
    <div class="title"><img src="<%= asset_path 'icons/dark/full2.png' %>" alt="" class="titleIcon" /><h6>Liste des types de lits supplémentaires</h6></div>
    <table cellpadding="0" cellspacing="0" border="0" class="display dTable taskWidget">
      <thead>
        <tr>
          <th>Nom du type de lit supplémentaire</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% unless @additional_bed_types.blank? %>
          <% @additional_bed_types.each do |additional_bed_type| %>
            <tr class="gradeA">
              <% css_class = (additional_bed_type.published == false ? 'taskD' : 'taskPr') %>
              <td class = "<%= css_class %>">
                <%= additional_bed_type.name %>
              </td>
              <td class = "actBtns">
                <a href="<%= edit_additional_bed_type_path(additional_bed_type.id) %>" class="tipS" original-title="Modifier"><%= image_tag('icons/edit.png', alt: '') %></a>
                <% if additional_bed_type.published == false %>
                  <a href="<%= enable_additional_bed_type_path(additional_bed_type.id) %>" class="tipS" original-title="Activer"><%= image_tag('icons/updateDone.png', alt: '') %></a>
                <% else %>
                  <a href="<%= disable_additional_bed_type_path(additional_bed_type.id) %>" class="tipS" original-title="Désactiver"><%= image_tag('icons/remove.png', alt: '') %></a>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
<!-- End Main content wrapper -->
