<!-- Title area -->
<div class="titleArea">
    <div class="wrapper">
        <div class="pageTitle">
            <h5>TYPES DE LITS SUPPLEMENTAIRES DE LA CHAMBRE: <%= link_to @room_type.name, hotel_edit_room_type_path(@room_type.id) %> - <%= link_to @hotel.name, edit_hotel_path(@hotel.id) %> [ <%= @city.country.name %> - <%= @city.name %> ]</h5>
            <span>Gestions des actions liées aux types de lits supplémentaires de la chambre: <%= link_to @room_type.name, hotel_edit_room_type_path(@room_type.id) %> - <%= link_to @hotel.name, edit_hotel_path(@hotel.id) %> [ <%= @city.country.name %> - <%= @city.name %> ]</span>
        </div>

        <div class="clear"></div>
    </div>
</div>

<div class="line"></div>

<%= render "room_types/shared/room_type_additional_bed_sub_menu" %>

<div class="line"></div>

<!-- Main content wrapper -->
<div class="wrapper">
  <!-- Widgets -->
  <%= room_type_additional_bed_messages! %>
  <%= form_for @room_type_additional_bed, method: :post, url: room_type_create_room_type_additional_bed_path, html: {class: 'form', multipart: true} do |f| %>

    <%= f.hidden_field :room_type_id, value: @room_type.id %>
    <fieldset>
      <!-- Create devoted widget -->
      <div class="widget">
        <div class="title"><img src="<%= asset_path 'icons/dark/users.png' %>" alt="" class="titleIcon" /><h6>Ajouter un type de lit additionnel à la chambre: <%= link_to @room_type.name, hotel_edit_room_type_path(@room_type.id) %></h6></div>

          <div class="formRow">
            <label><%= f.label :additional_bed_type_id %></label>
            <div class="formRight">
              <%= f.collection_select :additional_bed_type_id, @additional_bed_types, :id, :name, options ={prompt: "-Le type de lit supplémentaire-"}, html_options = {class: "form-control"} %>
            </div>
            <div class="clear"></div>
          </div>
          <div class="formRow">
            <%= f.submit 'Valider', class: 'basic' %>
          </div>
      </div>
      <!-- End Create devoted widget -->
    </fieldset>
  <% end %>


</div>
<!-- End Main content wrapper -->
