<!-- Title area -->
<div class="titleArea">
    <div class="wrapper">
        <div class="pageTitle">
            <h5>HOTELS</h5>
            <span>Gestions des actions liées aux hôtels.</span>
        </div>

        <div class="clear"></div>
    </div>
</div>

<div class="line"></div>

<%= render "hotels/shared/sub_menu" %>

<div class="line"></div>

<!-- Main content wrapper -->
<div class="wrapper">
  <!-- Widgets -->
  <%= hotel_messages! %>
  <%= form_for @hotel, method: :post, url: create_hotel_path, html: {class: 'form', multipart: true} do |f| %>
    <fieldset>
      <!-- Create devoted widget -->
      <div class="widget">
        <div class="title"><img src="<%= asset_path 'icons/dark/users.png' %>" alt="" class="titleIcon" /><h6>Créer un hôtel et l'ajouter au système</h6></div>

          <div class="formRow">
            <label><%= f.label :front %></label>
            <div class="formRight">
              <%= f.file_field :front, class: 'form-control' %>
            </div>
            <div class="clear"></div>
          </div>
          <div class="formRow">
            <label><%= f.label :authorization_number %></label>
            <div class="formRight">
              <%= f.text_field :authorization_number, placeholder: "Veuillez entrer le numéro d'autorisation gouvernemental", class: 'form-control' %>
            </div>
            <div class="clear"></div>
          </div>
          <div class="formRow">
            <label><%= f.label :name %></label>
            <div class="formRight">
              <%= f.text_field :name, placeholder: "Veuillez entrer le nom de l'hôtel", class: 'form-control' %>
            </div>
            <div class="clear"></div>
          </div>
          <div class="formRow">
            <label><%= f.label :stars %></label>
            <div class="formRight">
              <%= f.text_field :stars, placeholder: "Veuillez entrer la classe l'hôtel (1 - 10 étoites)", class: 'form-control' %>
            </div>
            <div class="clear"></div>
          </div>
          <div class="formRow">
            <label><%= f.label :city_id %></label>
            <div class="formRight">
              <%= f.collection_select :city_id, @cities, :id, :name, options ={prompt: "-Veuillez choisir une ville-"}, html_options = {class: "form-control"} %>
            </div>
            <div class="clear"></div>
          </div>
          <div class="formRow">
            <label><%= f.label :phone_number %></label>
            <div class="formRight">
              <%= f.text_field :phone_number, placeholder: "Veuillez entrer la ligne fixe de l'hôtel", class: 'form-control' %>
            </div>
            <div class="clear"></div>
          </div>
          <div class="formRow">
            <label><%= f.label :mobile_number %></label>
            <div class="formRight">
              <%= f.text_field :mobile_number, placeholder: "Veuillez entrer la ligne mobile de l'hôtel", class: 'form-control' %>
            </div>
            <div class="clear"></div>
          </div>
          <div class="formRow">
            <label><%= f.label :address %></label>
            <div class="formRight">
              <%= f.text_field :address, placeholder: "Veuillez entrer l'adresse de l'hôtel", class: 'form-control' %>
            </div>
            <div class="clear"></div>
          </div>
          <div class="formRow">
            <label><%= f.label :longitude %></label>
            <div class="formRight">
              <%= f.text_field :longitude, placeholder: "Veuillez entrer la longitude de l'hôtel", class: 'form-control' %>
            </div>
            <div class="clear"></div>
          </div>
          <div class="formRow">
            <label><%= f.label :latitude %></label>
            <div class="formRight">
              <%= f.text_field :latitude, placeholder: "Veuillez entrer la latitude de l'hôtel", class: 'form-control' %>
            </div>
            <div class="clear"></div>
          </div><div class="formRow">
            <label><%= f.label :email %></label>
            <div class="formRight">
              <%= f.text_field :email, placeholder: "Veuillez entrer l'email de l'hôtel", class: 'form-control' %>
            </div>
            <div class="clear"></div>
          </div>
          <div class="formRow">
            <label><%= f.label :website %></label>
            <div class="formRight">
              <%= f.text_field :website, placeholder: "Veuillez entrer le site web de l'hôtel", class: 'form-control' %>
            </div>
            <div class="clear"></div>
          </div>
          <div class="formRow">
            <label><%= f.label :description %></label>
            <div class="formRight">
              <%= f.text_area :description, placeholder: "Veuillez entrer la description de l'hôtel", class: 'form-control' %>
            </div>
            <div class="clear"></div>
          </div>
          <div class="formRow">
            <label><%= f.label :location_description %></label>
            <div class="formRight">
              <%= f.text_area :location_description, placeholder: "Veuillez entrer la description de l'emplacement de l'hôtel", class: 'form-control' %>
            </div>
            <div class="clear"></div>
          </div>
          <div class="formRow">
            <label><%= f.label :rooms_description %></label>
            <div class="formRight">
              <%= f.text_area :rooms_description, placeholder: "Veuillez entrer la description des chambres de l'hôtel", class: 'form-control' %>
            </div>
            <div class="clear"></div>
          </div>
          <div class="formRow">
            <label><%= f.label :terms %></label>
            <div class="formRight">
              <%= f.text_area :terms, placeholder: "Veuillez entrer les termes et conditions de l'hôtel", class: 'form-control' %>
            </div>
            <div class="clear"></div>
          </div>
          <div class="formRow">
            <%= f.submit 'Valider', class: 'basic' %>
          </div>
      </div>
      <!-- End Create devoted widget -->
    </fieldset>
  <% end %>


</div>
<!-- End Main content wrapper -->
