<!-- Title area -->
<div class="titleArea">
    <div class="wrapper">
        <div class="pageTitle">
            <h5>LISTE DES TYPES DE CHAMBRES - <%= link_to @hotel.name, edit_hotel_path(@hotel.id) %> [ <%= @city.country.name %> - <%= @city.name %> ]</h5>
            <span>Gestion des actions liées aux types de chambres.</span>
        </div>

        <div class="clear"></div>
    </div>
</div>

<div class="line"></div>

<%= render "hotels/shared/room_type_sub_menu" %>

<div class="line"></div>

<!-- Main content wrapper -->
<div class="wrapper">
<!-- Widgets -->
   <%= room_type_messages! %>
  <div class="widget">
    <div class="title"><img src="<%= asset_path 'icons/dark/full2.png' %>" alt="" class="titleIcon" /><h6>Liste des types de chambres de l'hôtel: <%= @hotel.name %></h6></div>
    <table cellpadding="0" cellspacing="0" border="0" class="display dTable taskWidget">
      <thead>
        <tr>
          <th>Nom du type de chambre</th>
          <th>Type de lit</th>
          <th>Nombre de personnes</th>
          <th>Nombre de chambres</th>
          <th>Prix</th>
          <th>Annulation possible</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% unless @room_types.blank? %>
          <% @room_types.each do |room_type| %>
            <tr class="gradeA">
              <% css_class = (room_type.published == false ? 'taskD' : 'taskPr') %>
              <td class = "<%= css_class %>">
                <%= room_type.name %>
              </td>
              <td>
                <%= room_type.bed_type.name %> <b>[ + <%= room_type.room_type_additional_beds.where(published: [nil, true]).count %> ]</b>
              </td>
              <td>
                <%= room_type.number_of_persons %>
              </td>
              <td>
                <%= room_type.available_rooms %>
              </td>
              <td>
                <%= room_type.price %>
              </td>
              <td>
                <%= room_type.cancellable == false ? "Non" : "Oui" %>
              </td>
              <td class = "actBtns">
                <a href="<%= room_type_room_type_additional_bed_path(room_type.id) %>" class="tipS" original-title="Lit additionnel"><%= image_tag('icons/color/plus.png', alt: '') %></a>
                <a href="<%= hotel_edit_room_type_path(room_type.id) %>" class="tipS" original-title="Modifier"><%= image_tag('icons/edit.png', alt: '') %></a>
                <% if room_type.published == false %>
                  <a href="<%= hotel_enable_room_type_path(room_type.id) %>" class="tipS" original-title="Activer"><%= image_tag('icons/updateDone.png', alt: '') %></a>
                <% else %>
                  <a href="<%= hotel_disable_room_type_path(room_type.id) %>" class="tipS" original-title="Désactiver"><%= image_tag('icons/remove.png', alt: '') %></a>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

</div>
<!-- End Main content wrapper -->
