<!doctype html>
<!--[if IE 7 ]>    <html lang="en-gb" class="isie ie7 oldie no-js"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en-gb" class="isie ie8 oldie no-js"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en-gb" class="isie ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en-gb" class="no-js"> <!--<![endif]-->

<head>
	<title>Réservations d'hôtels - VieFacileNow</title>

	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="keywords" content="" />
	<meta name="description" content="" />

    <!-- Favicon -->
	<link rel="shortcut icon" href="images/favicon.ico">

    <!-- this styles only adds some repairs on idevices  -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google fonts - witch you want to use - (rest you can just remove) -->
   	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
		  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	  <![endif]-->

    <%= stylesheet_link_tag 'users', media: 'all' %>
    <%= csrf_meta_tags %>
</head>


<body>


<div class="site_wrapper">

<div id="sliderWrap">

	<div id="openCloseIdentifier"></div>

        <div id="slider">

          	<div id="sliderContent">
            <div class="container">

            	<div class="one_fourth">

                	<h5 class="white">A propos de ViefacileNow</h5>

                    <p style= "text-align: justify;">ViefacileNow is one of the businesses of TerciaCompany ‘TertiaCo’. It is a social business community virtually suspended to effectively reach our target market of unlimited users. Our philosophy is to socially-create wealth by living a profitable life.</p>

                </div>

                <div class="one_fourth">


                </div>

                <div class="one_fourth">


                </div>

                <div class="one_fourth last">

                	<h5 class="white">Restez en contact</h5>

                    <ul class="faddress">

                        <li><i class="fa fa-map-marker fa-lg"></i>&nbsp; Zone 4, Bietry, Macory</li>
                        <li><i class="fa fa-phone"></i>&nbsp; +225 54 13 65 21</li>
                        <li><i class="fa fa-envelope"></i>&nbsp; <a href="mailto:help@viefacilenow.com">help@viefacilenow.com</a></li>
                        <li><i class="fa fa-globe"></i>&nbsp; <a href="#">www.viefacilenow.com</a></li>
                    </ul>

				</div>

            </div>
            </div>

        </div>

	<div id="openCloseWrap"><a href="#" class="topMenuAction" id="topMenuImage"><img src="<%= asset_path 'users/slidepanel/open.png' %>" alt="open" title="open" /></a></div>

</div>

<div class="clearfix"></div>

<header id="header">

	<!-- Top header bar -->
	<div id="topHeader">

	<div class="wrapper">

        <div class="top_nav">
        <div class="container">

        <div class="right">

            <ul>
              <% if current_user.blank? %>
            	<li class="link"><a href="<%= new_user_session_path %>"><i class="fa fa-lock"></i> Se connecter</a></li>
              <li class="link"><a href="<%= new_user_registration_path %>"><i class="fa fa-edit"></i> S'enregistrer</a></li>
              <% else %>
                <li class="link"><i class="fa fa-user"></i><%= "#{current_user.lastname} #{current_user.firstname}" %></li>
                <li class="link"><a href="<%= destroy_user_session_path %>" data-method="delete"><i class="fa fa-sign-out"></i> Se déconnecter</a></li>
              <% end %>

              <li><a href="mailto:help@viefacilenow.com"><i class="fa fa-envelope"></i> help@viefacilenow.com</a></li>
              <li><i class="fa fa-phone"></i> +225 54 13 65 21</li>

              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-flickr"></i></a></li>
              <li><a href="#"><i class="fa fa-youtube"></i></a></li>
              <li><a href="#"><i class="fa fa-rss"></i></a></li>
            </ul>

        </div><!-- end right social links -->

        </div>
        </div>

 	</div>

	</div><!-- end top navigation -->


	<div id="trueHeader">

	<div class="wrapper">

     <div class="container">

		<!-- Logo -->
		<div class="logo"><a href="<%= root_path %>" id="logo"></a></div>

	<!-- Menu -->
	<div class="menu_main">

	<div class="navbar yamm navbar-default">

    <div class="container">
      <div class="navbar-header">
        <div class="navbar-toggle .navbar-collapse .pull-right " data-toggle="collapse" data-target="#navbar-collapse-1"  > <span>Menu</span>
          <button type="button" > <i class="fa fa-bars"></i></button>
        </div>
      </div>

      <div id="navbar-collapse-1" class="navbar-collapse collapse pull-right">

        <%= render "layouts/users_menu" %>



      </div>
      </div>
     </div>

	</div><!-- end menu -->

	</div>

	</div>

	</div>

</header>

<div class="clearfix"></div>

<%= yield %>

<!-- ######## Begin footer ######## -->
<div class="feature_section26">
<div class="container">

    <div class="hbigline">&nbsp;</div>
    <div class="margin_top5"></div>

    <div class="clients">

	<div class="container">

    	<ul id="mycarouselthree" class="jcarousel-skin-tango">

            <li><img src="<%= asset_path 'users/client-logo1.png' %>" alt="" /></li>
            <li><img src="<%= asset_path 'users/client-logo2.png' %>" alt="" /></li>
            <li><img src="<%= asset_path 'users/client-logo3.png' %>" alt="" /></li>
            <li><img src="<%= asset_path 'users/client-logo4.png' %>" alt="" /></li>
            <li><img src="<%= asset_path 'users/client-logo5.png' %>" alt="" /></li>
            <li><img src="<%= asset_path 'users/client-logo6.png' %>" alt="" /></li>
            <li><img src="<%= asset_path 'users/client-logo7.png' %>" alt="" /></li>


		</ul>

	</div>

</div>

</div>
</div><!-- end features section26 -->

<div class="clearfix"></div>

<div class="footer_graph"></div>

<div class="clearfix"></div>

<div class="footer1">
<div class="container">

	<div class="one_half animate" data-anim-type="fadeInLeft">

    </div><!-- end twitter feeds -->

    <div class="one_half last animate" data-anim-type="fadeInRight">
    	<div class="newsletter_two">

    	<div class="left"><i class="fa fa-envelope"></i> <h5 class="white">Newsletter</h5></div>

        <div class="right">
        <form method="get" action="index.html">
        <input class="enter_email_input" name="samplees" id="samplees" value="Veuillez entrer votre adresse email" onFocus="if(this.value == 'Veuillez entrer votre adresse email') {this.value = '';}" onBlur="if (this.value == '') {this.value = 'Please enter your Email Address';}" type="text">
            <div class="clearfix"></div>
            <input name="" value="Souscrire!" class="input_submit" type="submit">
        </form>
        </div>

    	</div>
	</div><!-- end newsletter sign up -->

    <div class="clearfix divider_dashed1"></div>

    <div class="one_fourth animate" data-anim-type="fadeInUp">
        <ul class="faddress">
            <li><img src="<%= asset_path 'users/logo.png' %>" alt="" /></li>
            <li><i class="fa fa-map-marker fa-lg"></i>&nbsp; Zone 4, Bietry, Macory</li>
            <li><i class="fa fa-phone"></i>&nbsp; +225 54 13 65 21</li>
            <li><a href="mailto:help@viefacilenow.com"><i class="fa fa-envelope"></i> Membres: help@viefacilenow.com</a></li>
            <li><a href="mailto:advertise@viefacilenow.com"><i class="fa fa-envelope"></i> Partenaires: advertise@viefacilenow.com</a></li>
            <li><img src="<%= asset_path 'users/footer-wmap.png' %>" alt="" /></li>
        </ul>
	</div><!-- end address -->

    <div class="one_fourth animate" data-anim-type="fadeInUp">
    <div class="qlinks">

    	<h4 class="lmb">Liens utiles</h4>

        <ul>
            <li><a href="#"><i class="fa fa-angle-right"></i> ViefacileRéservations</a></li>
            <li><a href="#"><i class="fa fa-angle-right"></i> ViefacileBusiness</a></li>
            <li><a href="#"><i class="fa fa-angle-right"></i> ViefacileHome</a></li>
        </ul>

    </div>
	</div><!-- end links -->

    <div class="one_fourth animate" data-anim-type="fadeInUp">
    <div class="siteinfo">

    	<h4 class="lmb">A propos de ViefacileNow</h4>

        <p style= "text-align: justify;">ViefacileNow is one of the businesses of TerciaCompany ‘TertiaCo’. It is a social business community virtually suspended to effectively reach our target market of unlimited users. Our philosophy is to socially-create wealth by living a profitable life.</p>
        <br />
        <a href="#">Lire plus <i class="fa fa-long-arrow-right"></i></a>

	</div>
    </div><!-- end site info -->

    <div class="one_fourth last animate" data-anim-type="fadeInUp">



    </div><!-- end flickr -->


</div>
</div><!-- end footer -->

<div class="clearfix"></div>

<div class="copyright_info">
<div class="container">

	<div class="clearfix divider_dashed10"></div>

    <div class="one_half animate" data-anim-type="fadeInRight">

        Copyright © 2014 viefacilenow.com. All rights reserved.  <a href="#">Conditions d'utilisation</a>

    </div>

    <div class="one_half last">

        <ul class="footer_social_links">
            <li class="animate" data-anim-type="zoomIn"><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li class="animate" data-anim-type="zoomIn"><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li class="animate" data-anim-type="zoomIn"><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li class="animate" data-anim-type="zoomIn"><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li class="animate" data-anim-type="zoomIn"><a href="#"><i class="fa fa-skype"></i></a></li>
            <li class="animate" data-anim-type="zoomIn"><a href="#"><i class="fa fa-flickr"></i></a></li>
            <li class="animate" data-anim-type="zoomIn"><a href="#"><i class="fa fa-html5"></i></a></li>
            <li class="animate" data-anim-type="zoomIn"><a href="#"><i class="fa fa-youtube"></i></a></li>
            <li class="animate" data-anim-type="zoomIn"><a href="#"><i class="fa fa-rss"></i></a></li>
        </ul>

    </div>

</div>
</div><!-- end copyright info -->


<a href="#" class="scrollup">Scroll</a><!-- end scroll to top of the page-->





</div>


<!-- ######### JS FILES ######### -->
<!-- get jQuery from the google apis -->

<%= javascript_include_tag 'users', 'data-turbolinks-track' => true %>

<%= render "layouts/custom_js" %>
<!-- ######## End footer ######## -->
</body>
</html>
