<div class="clearfix"></div>

<div class="page_title2">
<div class="container">

  <div class="title"><h1>Enregistrez vous</h1></div>

</div>
</div><!-- end page title -->

<div class="clearfix"></div>

<div class="container">

	<div class="content_fullwidth lessmar">

    <div class="reg_form">
      <%= form_for(resource, as: resource_name, url: user_registration_path(resource_name), html: {class: "sky-form"}) do |f| %>

        <header>Enregistrement</header>
        <%= devise_error_messages! %>
        <fieldset>
          <section>
				    <label class="input">
					    <i class="icon-append icon-user"></i>
					    <%= f.text_field :firstname, autofocus: true, placeholder: "Veuillez entrer votre Nom" %>
				    </label>
			    </section>

			    <section>
				    <label class="input">
					    <i class="icon-append icon-user"></i>
					    <%= f.text_field :lastname, placeholder: "Veuillez entrer vos prénoms" %>
				    </label>
			    </section>

			    <section>
				    <label class="input">
					    <i class="icon-append icon-phone"></i>
					    <%= f.text_field :phone_number, placeholder: "Veuillez entrer votre numéro de téléphone fixe" %>
				    </label>
			    </section>

			    <section>
				    <label class="input">
					    <i class="icon-append icon-mobile-phone"></i>
					    <%= f.text_field :mobile_number, placeholder: "Veuillez entrer votre numéro de téléphone mobile" %>
				    </label>
			    </section>

			    <section>
				    <label class="input">
					    <i class="icon-append icon-envelope"></i>
					    <%= f.email_field :email, placeholder: "Veuillez entrer votre email" %>
				    </label>
			    </section>

			    <section>
				    <label class="input">
					    <i class="icon-append icon-lock"></i>
					    <%= f.password_field :password, placeholder: "Veuillez entrer votre mot de passe" %>
				    </label>
			    </section>

			    <section>
				    <label class="input">
					    <i class="icon-append icon-lock"></i>
					    <%= f.password_field :password_confirmation, placeholder: "Veuillez confirmer votre mot de passe" %>
				    </label>
			    </section>
        </fieldset>

		    <footer>
          <button type="submit" class="button">S'enregistrer     </button>
		    </footer>

      <% end %>

      <%= render "users/shared/links" %>
    </div>
  </div>
</div>

<div class="clearfix"></div>
